# Ignore Logs
logs
*.log

# Cache
*.cache

# Ignore the build directory
/dist

vendor

# The file containing environment variables
.env

# Ignore IDE specific files
../specProject/.idea/
.DS_Store
.idea/
.vscode/
*.sw*